name: Release

on:
    push:
        branches:
            - main
        tags:
            - v*

jobs:
    warm-up-cache-win:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: '22.21.1'
                  cache: 'yarn'
            - run: yarn install

    warm-up-cache-mac:
        runs-on: macos-14
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: '22.21.1'
                  cache: 'yarn'
            - run: yarn install

    # GENERAL electron packaging
    electron-package-mac:
        needs: [warm-up-cache-mac]
        runs-on: macos-14
        steps:
            - name: Checkout
              uses: actions/checkout@v4 # v4 is the latest version as of June 2024

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '22.21.1'
                  cache: 'yarn' # caching yarn dependencies
            
            - name: Enable Corepack
              run: corepack enable

            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.10'
                  cache: 'pip'

            - name: Install Python dependencies
              run: pip install -r requirements.txt

            - name: Install JS dependencies
              # cache: 'yarn' in setup-node should handle caching, so we can directly install here
              run: yarn install --immutable

            - name: Test (reauth)
              run: sh ./scripts/reauth.sh
              env:
                  ACCOUNT: ${{ secrets.ACCOUNT }}
                  PASSWORD: ${{ secrets.PASSWD }}

            - name: Build electron package
              run: yarn release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  CSC_LINK: ${{ secrets.SELF_SIGNED_CERT_FOR_MAC }}
                  CSC_KEY_PASSWORD: ${{ secrets.SELF_SIGNED_CERT_FOR_MAC_PASSWD }}
                  DISCORD_APP_ID: ${{ secrets.DISCORD_APP_ID }}
                  DISCORD_PUB_KEY: ${{ secrets.DISCORD_PUB_KEY }}

    # GENERAL electron packaging
    electron-package-win:
        needs: [warm-up-cache-win]
        runs-on: windows-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4 # v4 is the latest version as of June 2024
            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '22.21.1'
                  cache: 'yarn' # caching yarn dependencies
                  
            - name: Enable Corepack
              run: corepack enable

            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.10'
                  cache: 'pip'
            - name: Install Python dependencies
              run: pip install -r requirements.txt

            - name: Install JS dependencies

              # cache: 'yarn' in setup-node should handle caching, so we can directly install here
              run: yarn install --immutable

            - name: Test (reauth)
              # powersell script for windows
              run: powershell.exe ./scripts/reauth.ps1
              env:
                  ACCOUNT: ${{ secrets.ACCOUNT }}
                  PASSWORD: ${{ secrets.PASSWD }}

            - name: Build electron package
              run: yarn release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  CSC_LINK: ${{ secrets.SELF_SIGNED_CERT }}
                  DISCORD_APP_ID: ${{ secrets.DISCORD_APP_ID }}
                  DISCORD_PUB_KEY: ${{ secrets.DISCORD_PUB_KEY }}
